<div class="container">
  <h1><%= @restaurant.name %></h1>

  <ul>
    <li><strong>Address: </strong><%= @restaurant.address %></li>
    <li><strong>Phone number: </strong><%= @restaurant.phone_number %></li>
    <li><strong>Category: </strong><%= @restaurant.category.capitalize %></li>
  </ul>

  <%= link_to "Back", root_path %>
  <%= link_to "Add review", new_restaurant_review_path(@restaurant) %>

  <hr>

  <% @restaurant.reviews.each do |review| %>
    <p><%= review.content %></p>
    <p><strong>Rating: </strong><%= review.rating %></p>
    <hr>
  <% end %>




</div>
